.dropdown_list{
    display: flex;
     
    width: 100%;
    align-items: center;
    justify-content: center;
    gap:16px    ;
    margin-top: 127px ;
    min-height: 64px;
    position: relative; 
     
    font-size: 16px;
    font-family: 'Saira', sans-serif;
    flex-wrap: wrap;
}

.dropdown_list__name{
     
}