 .dropdown_list{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: row;
    flex-wrap: wrap;
 }
.dropdown_slist{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px    ;
    margin-top: 127px ;
    min-height: 64px;
    position: relative; 
    width: 100%; 
    font-size: 16px;
    font-family: 'Saira', sans-serif;
    flex-wrap: wrap;
}
